@use 'sass:color';
@use '@miraidesigns/base';
@use '@miraidesigns/fx';
@use '@miraidesigns/helpers';
@use '@miraidesigns/theme';
@use '@miraidesigns/typography';
@use '@miraidesigns/utils';

:host {
	.mdf-textfield {
		&__input {
			@include helpers.margin(0 0 24px 0);
			@include helpers.padding(16px);

			font-size: utils.px2rem(20px);
		}
	}
}

.#{base.$prefix}-slide {
	&__controls {
		position: relative;
		left: utils.px2rem(-16px);

		.#{base.$prefix}-icon {
			height: utils.px2rem(32px);
			width: utils.px2rem(32px);
		}
	}

	&__content {
		justify-content: flex-start;
		padding-top: utils.px2rem(24px);
	}

	&__footer {
		@include helpers.padding(24px 8px);

		@include base.breakpoint('mobile-only') {
			flex-direction: column;
		}

		.#{base.$prefix}-button ~ .#{base.$prefix}-button {
			margin-top: utils.px2rem(16px);
			color: var(--buttons-complementary, #{theme.prop('buttons-complementary')});

			&:hover,
			&:focus-visible {
				background-color: var(--buttons-complementary-hover, #{theme.prop('buttons-complementary-hover')});
			}

			&:active {
				background-color: var(--buttons-complementary-active, #{theme.prop('buttons-complementary-active')});
			}

			@include base.breakpoint('mobile-only') {
				height: utils.px2rem(40px);
				font-size: utils.px2rem(14px);
			}

			@include base.breakpoint('tablet-portrait') {
				margin-top: 0;
				margin-left: utils.px2rem(16px);
			}

			.#{base.$prefix}-icon {
				fill: var(--buttons-complementary, #{theme.prop('buttons-complementary')});
			}
		}

		@include base.breakpoint('tablet-portrait') {
			@include helpers.padding(24px);
		}
	}
}
